{% extends "plantilla_nav.html" %}
{% load static %}
{% block css %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/estilos_formulario.css' %}">
  <title>registrate</title>
</head>
{% endblock css %}
<body>
  {% block contenido %}
  <div class="fondoo">
        <div class="contenedor">
          <form id="formulario" action="{% url 'FORMULARIO' %}" method="post">
            {% csrf_token %}
            <p class="form-titulo">Regístrate</p>
            <div class="form-control">
              <input id="nombre" name="nombre" type="text" />
              <label for="nombre">Nombre </label>
              <p></p>
            </div>

            <div class="form-control">
              <input id="username" name="username" type="text" />
              <label for="username">Nombre de usuario </label>
              <p></p>
            </div>
  
            <div class="form-control">
              <input id="email" name="email" type="email" />
              <label for="email">Email</label>
              <p></p>
            </div>
            
            <div class="form-control">
              <input id="pass" name="pass" type="password" />
              <label for="pass">Contraseña</label>
              <p></p>
            </div>
  
            <div class="form-control">
              <input id="passConfirma" name="passConfirma" type="password" />
              <label for="passConfirma">Repita su Contraseña</label>
              <p></p>
            </div>
            <div>
              <button type="submit" class="button-form">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
      <section>
        <div style="text-align: center;color: darkmagenta;font-size: 35px;">
          {{msg}}
        </div>
      </section>
{% endblock contenido %}
</body>
</html>

{% block js %}
 {% comment %} <script src="{% static 'js/formulario.js' %}"></script> {% endcomment %}
{% endblock js %}