{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/estilos_login.css' %}">
 
  <title>Document</title>
</head>
<body class="color">
  <div class="fondoo">
    <div class="contenedor">
      <form id="formulario" action="{% url 'LOGIN' %}" method="post">
      {% csrf_token %}
        <p class="form-titulo">inicia session</p>

        <div class="form-control">
          <input name="nombre" id="usuario" type="text" placeholder="ingresa usuario" for="usuario" required/>
        </div>

        <div class="form-control">
          <input name="password" id="pass" type="password" placeholder="ingresa contraseña" for="pass" required/>
          
        </div>

        <div>
          
          <input type="submit" value="ingresa" class="button-form">
        </div>
        <br>
        <br>
        <a class="etiquetas"  href="{% url 'FORMULARIO' %}">Registrate aqui</a>
      </form>
    </div>
    <section>
      <div style="text-align: center; color: aliceblue; font-size: 15px;">
        {{msg}}
      </div>
    </section>
</div>
</body>
</html>