{% extends "plantilla_nav.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/estilos_market.css' %}">
{% endblock css %}

{% block contenido %}
    <h2 class="title">MARKET</h2>
    <div class="contenedor">
        {% for objcarrito in productos %}
            <article>
                <img src="{{ objcarrito.foto.url }}" alt="" width="100px" height="100px" />
                <h4>{{ objcarrito.nombre_objeto }}</h4>
                <h5>Precio: ${{ objcarrito.precio }}</h5>
                <h6>
                    <a class="btn btn-primary" href="{% url 'AC' objcarrito.idobjeto %}">Agregar al carrito</a>
                </h6>
            </article>
        {% endfor %}
    </div>
    <script>
      function ir(id){
        location.href ='/agregar_carrito/'+id+'/';
      }

      function agregar(id,nombre,precio){
        texto={'id':id,'nombre':nombre,'precio':precio};
        console.log(texto)
        localStorage.setItem('carro',JSON.stringify(texto))
      }
    </script>

    <section class="cart">
      <div class="tr">
        <table>
          <tr class="tr">
            <td>CODIGO</td>
            <td>NOMBRE</td>
            <td>PRECIO</td>
            <td>CANTIDAD</td>
            <td>TOTAL</td>
          </tr>
          {% if request.session.carrito.items %}
            {% for key , value in request.session.carrito.items %}
              <tr class="tr">
                <td>{{value.id_producto}}</td>
                <td>{{value.nombre}}</td>
                <td>{{value.precio}}</td>
                <td>{{value.cantidad}}</td>
                <td>{{value.total}}</td>
                <td>
                  <a class="btn btn-primary" href="{% url 'AC' value.id_producto %}" >Agregar</a>
                  <br>
                  <br>
                  <a class="btn btn-warning" href="{% url 'QA' value.id_producto %}">Quitar</a>
                

                </td>
              </tr>
            {% endfor %}
              <tr>
                <td colspan="4,5"></td>
                <td>TOTAL</td>
                <td>$ {{total}}</td>
              </tr>
              <tr>
                <td colspan="4,5"></td>
                <td>VACIAR</td>
                <td>
                  <a href="{% url 'VACIAR' %}">
                    <img src="{% static 'img/papelera.png' %}" width="20px" height="20px" alt="">
                  </a>
                </td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td>
                  <a class="btn btn-success" href="{% url 'VACIAR' %}">PAGAR</a>
                </td>
              </tr>
          {% endif %}
        </table>
      </div>
    </section>
{% endblock contenido %}
