{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--favicon-->
    <link rel="icon" href="{% static 'img/logo/logo_caos_new.png' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}"/>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css//plantilla_nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css//ingresar_noticia.css' %}" />
    {% block css %}
        
    {% endblock css %}

    
  </head>

  <body class="color_fondo">
    <div class="navegador">
      <!--barra de navegacion-->
      <nav class="navbar"></nav>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <!--logotipo-->
          <label for="" class="logo_tipo">
            <a href=""><img src="{% static 'img/logo/logo_caos_new.png' %}" alt="" /></a>
          </label>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'INDEX' %}"
                  >Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'MARKET' %}"
                  >Market</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href=""
                  >Bienvenido {{user.first_name}} {{user.last_name}}</a>
              </li>
               <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'LOGOUT' %}"
                  >Cerrar Sesion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'INGRESAR_NOTICIA' %}"
                  >Agrega Tu Noticia</a
                >
              
               
              {% else %}
               <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'LOGIN' %}"
                  >Inicio Sesion</a>
              </li>
              {% endif %}
              
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  NCN extras...
                  <!--nombre despliegue-->
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'FORMULARIO' %}">Registrate</a></li>
                  <li><a class="dropdown-item" href="{% url 'GALERIA' %}">Galeria</a></li>
                  <li><a class="dropdown-item" href="{% url 'CONTACTO' %}">Contactanos</a></li>
                  
               
                </ul>
              </li>
            </ul>
            <!--Busqueda-->
            {% if request.session.carrito.items %}
                <img src="{% static 'img/carrito.png' %}" width="20px" height="20px" alt="">
                {{cantidad}}
            {% endif %}
            <form class="d-flex" action="{% url 'BUSCAR_NOTIC' %}" method="post" >
              {% csrf_token %}
              <input  class="form-control me-2" type="text" name="txtBuscar" id="txtBuscar"  placeholder="Búsqueda de noticias...">
              <div>
                <input class="btn" type="submit" value="Buscar">
              </div>
            </form>

          </div>
        </div>
      </nav>
    </div>


    <!--region editable-->
    {% block contenido %}

    {% endblock contenido %}



    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% comment %} <script src="../js//index.js"></script> {% endcomment %}
    {% block js %}

    {% endblock js %}
   
  </body>
</html>
